* {
    font-family: 'Roboto', sans-serif;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #888;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 3fr auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

.page-title,
.nav {
    background-color: #FAFAFA;
}

.page-title {
    grid-area: header;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.main-content {
    grid-area: main;
}

.footer {
    background-color: #FAFAFA;
    grid-area: footer;
    color: #333;
    font-size: .8em;
    line-height: 2em;
}

ul.inline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.inline li {
    display: inline;
    padding-right: 5px;
}

.hero, .hero h1 {
    margin: 0;
}

.hero {
    background-image: url("../images/hero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10em;
}

.hero h1 {
    text-align: center;
    line-height: 5em;
    color: #FFF;
}

@media screen and (max-width: 1200px) {
    .page {
        padding: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        grid-template-columns: auto;
        grid-template-rows: auto auto 3fr auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer"
    }

    .nav {
        align-items: center;
        padding: 10px 0;
    }
}
